<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PowerKube Rangliste</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="../scripte/rangliste.js" defer></script>
</head>
<body class="rangliste_body">
  <h1 class="rangliste">🏆 PowerKube Rangliste</h1>

  <div class="ranglist_abschnitt" id="maennlich">
    <h2 class="rangliste_abschnitt_h2">👨 Männer</h2>
  </div>

  <div class="ranglist_abschnitt" id="weiblich">
    <h2 class="rangliste_abschnitt_h2">👩 Frauen</h2>
  </div>
</body>
</html>

